.card-container{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 0 2px 2px #ccc;
    width: 300px;
    padding : 20px;
    margin: 20px;
  }

  .card-container:hover{
    cursor: pointer;
  }